.hall-preview {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hall-preview-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hall-preview-grid {
  display: flex;
  gap: 2px;
}

.hall-preview-screen {
  margin: 0 auto;
  width: 80%;
  border: solid 3px black;
  border-radius: 50%/100px 100px 0 0;
}

.hall-preview-screen-text {
  font-size: larger;
  padding: 10px;
}
