@import "src/shared/styles/helpers/variables";

.radio-select {
  display: flex;
  flex-direction: column;
  background: rgba(0,0,0,0.3);
  margin: 5px;
}

.radio-select label {
  margin: 10px;
  color: $text-white-color;
  font-size: large;
}
