@import "../../../../styles/helpers/variables";

.header-button {
    display: flex;
    align-items: center;
    padding: 15px;
    border: solid $main-color;
    border-width: 0 1px 0 1px;
    justify-content: space-between;
    transition: all 0.5s;
}

.header-button:hover {
    background: $accent-color;
    border: solid black;
    border-width: 0 1px 0 1px;
    transition: all 0.5s;
}

.header-button-icon {
    margin-right: 10px;
}

header a {
    text-decoration: none;
    color: $text-accent-color;
}

header {
    background: $main-color;
}

header a:hover {
    color: $text-main-color;
}

.header-button-icon {
    width: 20px;
    height: 20px;
}